/* style.css */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #EEEDEB ;
}

.container {
    text-align: center;
    background-color:#F1E5D1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #f9f9f9;
    background-color: #6298d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.joke-display {
    margin-top: 20px;
    font-size: 1.2em;
    color: #000000;
}
